@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>A collection of recipes and user accounts allowing for sharing, saving, and discovering new tastes and connections.</p>
</div>
